In [101]:
import pandas as pd
import numpy as np

In [102]:
#create dataframe from dictionaries

In [103]:
data_dict={"Name":["A",'B','C','D','E'],"Marks":[1,2,3,4,5]}

In [104]:
pd.DataFrame(data_dict)

  Name  Marks
0    A      1
1    B      2
2    C      3
3    D      4
4    E      5

In [105]:
#to convert dataFrame to csv file

In [106]:
pd.DataFrame(data_dict).to_csv('data_dict.csv',index=False)

In [107]:
df_1=pd.read_csv('data_dict.csv')

In [108]:
df_1

  Name  Marks
0    A      1
1    B      2
2    C      3
3    D      4
4    E      5

In [109]:
df_1.index=['m1','m2','m3','m4','m5']

In [110]:
df_1

   Name  Marks
m1    A      1
m2    B      2
m3    C      3
m4    D      4
m5    E      5

In [111]:
df_1['Marks']

m1    1
m2    2
m3    3
m4    4
m5    5
Name: Marks, dtype: int64

In [112]:
df_1['Marks']['m4']

4

In [113]:
df_1['Marks']['m4']=100

C:\Users\LENOVO\AppData\Local\Temp/ipykernel_11532/3529973727.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['Marks']['m4']=100

In [114]:
df_1

   Name  Marks
m1    A      1
m2    B      2
m3    C      3
m4    D    100
m5    E      5

In [115]:
df_1.head()

   Name  Marks
m1    A      1
m2    B      2
m3    C      3
m4    D    100
m5    E      5

In [116]:
df_1[["Name"]] # it returns dataframe not a series

   Name
m1    A
m2    B
m3    C
m4    D
m5    E

In [117]:
np.random.rand(2,3)

array([[0.3663598 , 0.55607747, 0.13149397],
       [0.38673463, 0.00832708, 0.52174964]])

In [118]:
rand_df=pd.DataFrame(np.random.rand(2,3))

In [119]:
rand_df.columns=['A','B','C']

In [120]:
rand_df

          A         B         C
0  0.134476  0.428174  0.543642
1  0.243579  0.062589  0.560545

In [121]:
#to change name of rows

In [122]:
rand_df.index=['I','II']

In [123]:
rand_df

           A         B         C
I   0.134476  0.428174  0.543642
II  0.243579  0.062589  0.560545

In [124]:
random_df=pd.DataFrame(np.random.rand(34,5),index=np.arange(34),columns=np.arange(5))

In [125]:
random_df

           0         1         2         3         4
0   0.386943  0.613077  0.860317  0.936262  0.889799
1   0.570364  0.388331  0.070940  0.340006  0.067016
2   0.829592  0.498028  0.656968  0.219101  0.351919
3   0.920137  0.599997  0.409780  0.219896  0.399324
4   0.318959  0.278313  0.007934  0.051537  0.679200
5   0.393872  0.607396  0.515441  0.370084  0.372765
6   0.133709  0.250918  0.938923  0.477506  0.817316
7   0.143388  0.396385  0.241084  0.043416  0.357657
8   0.696167  0.151459  0.972129  0.246175  0.830687
9   0.074704  0.168510  0.857283  0.421175  0.640629
10  0.708224  0.981169  0.696932  0.537742  0.937328
11  0.127325  0.846417  0.146283  0.166702  0.772763
12  0.029322  0.724000  0.922674  0.226188  0.597659
13  0.256365  0.591003  0.713078  0.414845  0.483244
14  0.105669  0.269445  0.377594  0.009384  0.020914
15  0.987095  0.467670  0.043607  0.025028  0.194454
16  0.914729  0.955716  0.825948  0.474785  0.402417
17  0.872337  0.896500  0.027728  0.993992  0.200196
18  0.601355  0.554713  0.985506  0.281736  0.907609
19  0.960346  0.415706  0.594390  0.025078  0.011083
20  0.453270  0.719302  0.544971  0.332516  0.483839
21  0.112844  0.604353  0.605485  0.106186  0.822479
22  0.637132  0.841312  0.797069  0.412261  0.106890
23  0.155339  0.645127  0.899168  0.628464  0.522525
24  0.288059  0.881739  0.381507  0.812140  0.783380
25  0.478004  0.925881  0.612529  0.394602  0.320540
26  0.677959  0.729975  0.114102  0.488534  0.162645
27  0.394888  0.188624  0.204821  0.943390  0.856565
28  0.107042  0.589960  0.833256  0.827864  0.360659
29  0.809575  0.744345  0.135092  0.316942  0.512460
30  0.190934  0.509464  0.369460  0.552377  0.459171
31  0.889831  0.296140  0.551646  0.428039  0.039848
32  0.199584  0.735265  0.551481  0.106699  0.591494
33  0.220683  0.070480  0.537180  0.947937  0.622396

In [126]:
random_df.head(10) #get 1st 10 rows

          0         1         2         3         4
0  0.386943  0.613077  0.860317  0.936262  0.889799
1  0.570364  0.388331  0.070940  0.340006  0.067016
2  0.829592  0.498028  0.656968  0.219101  0.351919
3  0.920137  0.599997  0.409780  0.219896  0.399324
4  0.318959  0.278313  0.007934  0.051537  0.679200
5  0.393872  0.607396  0.515441  0.370084  0.372765
6  0.133709  0.250918  0.938923  0.477506  0.817316
7  0.143388  0.396385  0.241084  0.043416  0.357657
8  0.696167  0.151459  0.972129  0.246175  0.830687
9  0.074704  0.168510  0.857283  0.421175  0.640629

In [127]:
random_df.tail(10)#get last 10 rows

           0         1         2         3         4
24  0.288059  0.881739  0.381507  0.812140  0.783380
25  0.478004  0.925881  0.612529  0.394602  0.320540
26  0.677959  0.729975  0.114102  0.488534  0.162645
27  0.394888  0.188624  0.204821  0.943390  0.856565
28  0.107042  0.589960  0.833256  0.827864  0.360659
29  0.809575  0.744345  0.135092  0.316942  0.512460
30  0.190934  0.509464  0.369460  0.552377  0.459171
31  0.889831  0.296140  0.551646  0.428039  0.039848
32  0.199584  0.735265  0.551481  0.106699  0.591494
33  0.220683  0.070480  0.537180  0.947937  0.622396

In [128]:
random_df.T #to perform transpose

,0,1,2,3,4,5,6,7,8,9,...,24,25,26,27,28,29,30,31,32,33
0,0.386943,0.570364,0.829592,0.920137,0.318959,0.393872,0.133709,0.143388,0.696167,0.074704,...,0.288059,0.478004,0.677959,0.394888,0.107042,0.809575,0.190934,0.889831,0.199584,0.220683
1,0.613077,0.388331,0.498028,0.599997,0.278313,0.607396,0.250918,0.396385,0.151459,0.168510,...,0.881739,0.925881,0.729975,0.188624,0.589960,0.744345,0.509464,0.296140,0.735265,0.070480
2,0.860317,0.070940,0.656968,0.409780,0.007934,0.515441,0.938923,0.241084,0.972129,0.857283,...,0.381507,0.612529,0.114102,0.204821,0.833256,0.135092,0.369460,0.551646,0.551481,0.537180
3,0.936262,0.340006,0.219101,0.219896,0.051537,0.370084,0.477506,0.043416,0.246175,0.421175,...,0.812140,0.394602,0.488534,0.943390,0.827864,0.316942,0.552377,0.428039,0.106699,0.947937
4,0.889799,0.067016,0.351919,0.399324,0.679200,0.372765,0.817316,0.357657,0.830687,0.640629,...,0.783380,0.320540,0.162645,0.856565,0.360659,0.512460,0.459171,0.039848,0.591494,0.622396

In [129]:
random_df.index

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32,
            33],
           dtype='int64')

In [130]:
random_df.sort_index()

           0         1         2         3         4
0   0.386943  0.613077  0.860317  0.936262  0.889799
1   0.570364  0.388331  0.070940  0.340006  0.067016
2   0.829592  0.498028  0.656968  0.219101  0.351919
3   0.920137  0.599997  0.409780  0.219896  0.399324
4   0.318959  0.278313  0.007934  0.051537  0.679200
5   0.393872  0.607396  0.515441  0.370084  0.372765
6   0.133709  0.250918  0.938923  0.477506  0.817316
7   0.143388  0.396385  0.241084  0.043416  0.357657
8   0.696167  0.151459  0.972129  0.246175  0.830687
9   0.074704  0.168510  0.857283  0.421175  0.640629
10  0.708224  0.981169  0.696932  0.537742  0.937328
11  0.127325  0.846417  0.146283  0.166702  0.772763
12  0.029322  0.724000  0.922674  0.226188  0.597659
13  0.256365  0.591003  0.713078  0.414845  0.483244
14  0.105669  0.269445  0.377594  0.009384  0.020914
15  0.987095  0.467670  0.043607  0.025028  0.194454
16  0.914729  0.955716  0.825948  0.474785  0.402417
17  0.872337  0.896500  0.027728  0.993992  0.200196
18  0.601355  0.554713  0.985506  0.281736  0.907609
19  0.960346  0.415706  0.594390  0.025078  0.011083
20  0.453270  0.719302  0.544971  0.332516  0.483839
21  0.112844  0.604353  0.605485  0.106186  0.822479
22  0.637132  0.841312  0.797069  0.412261  0.106890
23  0.155339  0.645127  0.899168  0.628464  0.522525
24  0.288059  0.881739  0.381507  0.812140  0.783380
25  0.478004  0.925881  0.612529  0.394602  0.320540
26  0.677959  0.729975  0.114102  0.488534  0.162645
27  0.394888  0.188624  0.204821  0.943390  0.856565
28  0.107042  0.589960  0.833256  0.827864  0.360659
29  0.809575  0.744345  0.135092  0.316942  0.512460
30  0.190934  0.509464  0.369460  0.552377  0.459171
31  0.889831  0.296140  0.551646  0.428039  0.039848
32  0.199584  0.735265  0.551481  0.106699  0.591494
33  0.220683  0.070480  0.537180  0.947937  0.622396

In [131]:
random_df.sort_index(ascending=False)

           0         1         2         3         4
33  0.220683  0.070480  0.537180  0.947937  0.622396
32  0.199584  0.735265  0.551481  0.106699  0.591494
31  0.889831  0.296140  0.551646  0.428039  0.039848
30  0.190934  0.509464  0.369460  0.552377  0.459171
29  0.809575  0.744345  0.135092  0.316942  0.512460
28  0.107042  0.589960  0.833256  0.827864  0.360659
27  0.394888  0.188624  0.204821  0.943390  0.856565
26  0.677959  0.729975  0.114102  0.488534  0.162645
25  0.478004  0.925881  0.612529  0.394602  0.320540
24  0.288059  0.881739  0.381507  0.812140  0.783380
23  0.155339  0.645127  0.899168  0.628464  0.522525
22  0.637132  0.841312  0.797069  0.412261  0.106890
21  0.112844  0.604353  0.605485  0.106186  0.822479
20  0.453270  0.719302  0.544971  0.332516  0.483839
19  0.960346  0.415706  0.594390  0.025078  0.011083
18  0.601355  0.554713  0.985506  0.281736  0.907609
17  0.872337  0.896500  0.027728  0.993992  0.200196
16  0.914729  0.955716  0.825948  0.474785  0.402417
15  0.987095  0.467670  0.043607  0.025028  0.194454
14  0.105669  0.269445  0.377594  0.009384  0.020914
13  0.256365  0.591003  0.713078  0.414845  0.483244
12  0.029322  0.724000  0.922674  0.226188  0.597659
11  0.127325  0.846417  0.146283  0.166702  0.772763
10  0.708224  0.981169  0.696932  0.537742  0.937328
9   0.074704  0.168510  0.857283  0.421175  0.640629
8   0.696167  0.151459  0.972129  0.246175  0.830687
7   0.143388  0.396385  0.241084  0.043416  0.357657
6   0.133709  0.250918  0.938923  0.477506  0.817316
5   0.393872  0.607396  0.515441  0.370084  0.372765
4   0.318959  0.278313  0.007934  0.051537  0.679200
3   0.920137  0.599997  0.409780  0.219896  0.399324
2   0.829592  0.498028  0.656968  0.219101  0.351919
1   0.570364  0.388331  0.070940  0.340006  0.067016
0   0.386943  0.613077  0.860317  0.936262  0.889799

In [132]:
random_df.columns=list("ABCDE")

In [133]:
random_df

           A         B         C         D         E
0   0.386943  0.613077  0.860317  0.936262  0.889799
1   0.570364  0.388331  0.070940  0.340006  0.067016
2   0.829592  0.498028  0.656968  0.219101  0.351919
3   0.920137  0.599997  0.409780  0.219896  0.399324
4   0.318959  0.278313  0.007934  0.051537  0.679200
5   0.393872  0.607396  0.515441  0.370084  0.372765
6   0.133709  0.250918  0.938923  0.477506  0.817316
7   0.143388  0.396385  0.241084  0.043416  0.357657
8   0.696167  0.151459  0.972129  0.246175  0.830687
9   0.074704  0.168510  0.857283  0.421175  0.640629
10  0.708224  0.981169  0.696932  0.537742  0.937328
11  0.127325  0.846417  0.146283  0.166702  0.772763
12  0.029322  0.724000  0.922674  0.226188  0.597659
13  0.256365  0.591003  0.713078  0.414845  0.483244
14  0.105669  0.269445  0.377594  0.009384  0.020914
15  0.987095  0.467670  0.043607  0.025028  0.194454
16  0.914729  0.955716  0.825948  0.474785  0.402417
17  0.872337  0.896500  0.027728  0.993992  0.200196
18  0.601355  0.554713  0.985506  0.281736  0.907609
19  0.960346  0.415706  0.594390  0.025078  0.011083
20  0.453270  0.719302  0.544971  0.332516  0.483839
21  0.112844  0.604353  0.605485  0.106186  0.822479
22  0.637132  0.841312  0.797069  0.412261  0.106890
23  0.155339  0.645127  0.899168  0.628464  0.522525
24  0.288059  0.881739  0.381507  0.812140  0.783380
25  0.478004  0.925881  0.612529  0.394602  0.320540
26  0.677959  0.729975  0.114102  0.488534  0.162645
27  0.394888  0.188624  0.204821  0.943390  0.856565
28  0.107042  0.589960  0.833256  0.827864  0.360659
29  0.809575  0.744345  0.135092  0.316942  0.512460
30  0.190934  0.509464  0.369460  0.552377  0.459171
31  0.889831  0.296140  0.551646  0.428039  0.039848
32  0.199584  0.735265  0.551481  0.106699  0.591494
33  0.220683  0.070480  0.537180  0.947937  0.622396

In [134]:
random_df['A'][5] #value of 5th row and Ath columns

0.3938715157572664

In [135]:
random_df['A']

0     0.386943
1     0.570364
2     0.829592
3     0.920137
4     0.318959
5     0.393872
6     0.133709
7     0.143388
8     0.696167
9     0.074704
10    0.708224
11    0.127325
12    0.029322
13    0.256365
14    0.105669
15    0.987095
16    0.914729
17    0.872337
18    0.601355
19    0.960346
20    0.453270
21    0.112844
22    0.637132
23    0.155339
24    0.288059
25    0.478004
26    0.677959
27    0.394888
28    0.107042
29    0.809575
30    0.190934
31    0.889831
32    0.199584
33    0.220683
Name: A, dtype: float64

In [136]:
random_df.head()

          A         B         C         D         E
0  0.386943  0.613077  0.860317  0.936262  0.889799
1  0.570364  0.388331  0.070940  0.340006  0.067016
2  0.829592  0.498028  0.656968  0.219101  0.351919
3  0.920137  0.599997  0.409780  0.219896  0.399324
4  0.318959  0.278313  0.007934  0.051537  0.679200

In [137]:
random_df.loc[3,'B']

0.5999966809413978

In [138]:
random_df.loc[3,'B']=7890

In [139]:
random_df.loc[3,'B']

7890.0

In [140]:
random_df.iloc[3,1] #use of iloc function

7890.0

In [141]:
random_df.head()

          A            B         C         D         E
0  0.386943     0.613077  0.860317  0.936262  0.889799
1  0.570364     0.388331  0.070940  0.340006  0.067016
2  0.829592     0.498028  0.656968  0.219101  0.351919
3  0.920137  7890.000000  0.409780  0.219896  0.399324
4  0.318959     0.278313  0.007934  0.051537  0.679200

In [142]:
random_df.loc[[1,2],['A','C']]

          A         C
1  0.570364  0.070940
2  0.829592  0.656968

In [143]:
random_df.loc[(random_df['B']<0.5)&(random_df['C']<0.2)]

           A         B         C         D         E
1   0.570364  0.388331  0.070940  0.340006  0.067016
4   0.318959  0.278313  0.007934  0.051537  0.679200
15  0.987095  0.467670  0.043607  0.025028  0.194454

In [145]:
titanic_data=pd.read_csv('sampledata.csv')

In [146]:
titanic_data

,Index,State,Y2002,Y2003,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015
0,A,Alabama,1296530,1317711,1118631,1492583,1107408,1440134,1945229,1944173,1237582,1440756,1186741,1852841,1558906,1916661
1,A,Alaska,1170302,1960378,1818085,1447852,1861639,1465841,1551826,1436541,1629616,1230866,1512804,1985302,1580394,1979143
2,A,Arizona,1742027,1968140,1377583,1782199,1102568,1109382,1752886,1554330,1300521,1130709,1907284,1363279,1525866,1647724
3,A,Arkansas,1485531,1994927,1119299,1947979,1669191,1801213,1188104,1628980,1669295,1928238,1216675,1591896,1360959,1329341
4,C,California,1685349,1675807,1889570,1480280,1735069,1812546,1487315,1663809,1624509,1639670,1921845,1156536,1388461,1644607
5,C,Colorado,1343824,1878473,1886149,1236697,1871471,1814218,1875146,1752387,1913275,1665877,1491604,1178355,1383978,1330736
6,C,Connecticut,1610512,1232844,1181949,1518933,1841266,1976976,1764457,1972730,1968730,1945524,1228529,1582249,1503156,1718072
7,D,Delaware,1330403,1268673,1706751,1403759,1441351,1300836,1762096,1553585,1370984,1318669,1984027,1671279,1803169,1627508
8,D,District of Columbia,1111437,1993741,1374643,1827949,1803852,1595981,1193245,1739748,1707823,1353449,1979708,1912654,1782169,1410183
9,F,Florida,1964626,1468852,1419738,1362787,1339608,1278550,1756185,1818438,1198403,1497051,1131928,1107448,1407784,1170389
10,G,Georgia,1929009,1541565,1810773,1779091,1326846,1223770,1773090,1630325,1145473,1851245,1850111,1887157,1259353,1725470
11,H,Hawaii,1461570,1200280,1213993,1245931,1459383,1430465,1919423,1928416,1330509,1902816,1695126,1517184,1948108,1150882
12,I,Idaho,1353210,1438538,1739154,1541015,1122387,1772050,1335481,1748608,1436809,1456340,1643855,1312561,1713718,1757171
13,I,Illinois,1508356,1527440,1493029,1261353,1540274,1747614,1871645,1658551,1422021,1751422,1696729,1915435,1645465,1583516
14,I,Indiana,1776918,1734104,1269927,1204117,1848073,1129546,1139551,1883976,1999102,1559924,1905760,1129794,1988394,1467614
15,I,Iowa,1499269,1444576,1576367,1388924,1554813,1452911,1317983,1150783,1751389,1992996,1501879,1173694,1431705,1641866
16,K,Kansas,1509054,1290700,1522230,1532094,1104256,1863278,1949478,1561528,1550433,1465812,1882929,1410249,1930090,1385528
17,K,Kentucky,1813878,1448846,1800760,1250524,1137913,1911227,1301848,1956681,1350895,1512894,1916616,1878271,1722762,1913350
18,L,Louisiana,1584734,1110625,1868456,1751920,1233709,1920301,1185085,1124853,1498662,1210385,1234234,1287663,1908602,1403857
19,M,Maine,1582720,1678622,1208496,1912040,1438549,1330014,1295877,1969163,1627262,1706080,1437088,1318546,1116792,1529233
20,M,Maryland,1579713,1404700,1849798,1397738,1310270,1789128,1112765,1967225,1486246,1872327,1175819,1314343,1979529,1569566
21,M,Massachusetts,1647582,1686259,1620601,1777250,1531641,1380529,1978904,1567651,1761048,1658538,1482203,1731917,1669749,1963337
22,M,Michigan,1295635,1149931,1601027,1340716,1729449,1567494,1990431,1575185,1267626,1274673,1709853,1815596,1965196,1646634
23,M,Minnesota,1729921,1675204,1903907,1561839,1985692,1148621,1328133,1890633,1995304,1575533,1910216,1972021,1515366,1864553
24,M,Mississippi,1983285,1292558,1631325,1943311,1354579,1731643,1428291,1568049,1383227,1629132,1988270,1907777,1649668,1991232
25,M,Missouri,1221316,1858368,1773451,1573967,1374863,1486197,1735099,1800620,1164202,1425363,1800052,1698105,1767835,1996005
26,M,Montana,1877154,1540099,1332722,1273327,1625721,1983568,1251742,1592690,1350619,1520064,1185225,1465705,1110394,1125903
27,N,Nebraska,1885081,1309769,1425527,1240465,1500594,1278272,1140598,1270585,1128711,1187207,1569665,1690920,1459243,1802211
28,N,Nevada,1426117,1114500,1119707,1758830,1694526,1765826,1903270,1231480,1526066,1143343,1980195,1283813,1225348,1903804
29,N,New Hampshire,1419776,1854370,1195119,1990062,1645430,1286967,1762936,1763211,1265642,1704297,1131298,1197576,1242623,1963313
30,N,New Jersey,1605532,1141514,1613550,1181452,1541327,1156804,1568034,1357418,1443718,1390010,1202326,1100990,1850165,1183568
31,N,New Mexico,1819239,1226057,1935991,1124400,1723493,1475985,1237704,1820856,1801430,1653384,1475715,1623388,1533494,1868612
32,N,New York,1395149,1611371,1170675,1446810,1426941,1463171,1732098,1426216,1604531,1683687,1500089,1718837,1619033,1367705
33,N,North Carolina,1616742,1292223,1482792,1532347,1158716,1827420,1267737,1116168,1791535,1553750,1472258,1104893,1596452,1229085
34,N,North Dakota,1618807,1510193,1876940,1443172,1425030,1868788,1720352,1671468,1534571,1271132,1430978,1529024,1563898,1604118
35,O,Ohio,1802132,1648498,1441386,1670280,1534888,1314824,1516621,1511460,1585465,1887714,1227303,1840898,1880804,1573117
36,O,Oklahoma,1173918,1334639,1663622,1798714,1312574,1708245,1256746,1853142,1673831,1822933,1674707,1900523,1956742,1307678
37,O,Oregon,1794912,1726665,1805445,1133510,1502242,1419251,1482786,1862351,1103794,1935687,1905378,1522129,1509171,1893515
38,P,Pennsylvania,1320191,1446723,1218591,1122030,1971479,1563062,1274168,1571032,1433835,1483292,1290329,1475344,1931500,1668232
39,R,Rhode Island,1501744,1942942,1266657,1961923,1835983,1234040,1151409,1993136,1983569,1781016,1909119,1531212,1990412,1611730
40,S,South Carolina,1631522,1803455,1425193,1458191,1538731,1825195,1250499,1864685,1345102,1116203,1532332,1591735,1188417,1110655
41,S,South Dakota,1159037,1150689,1660148,1417141,1418586,1279134,1171870,1852424,1554782,1647245,1811156,1147488,1302834,1136443
42,T,Tennessee,1811867,1485909,1974179,1157059,1786132,1399191,1826406,1326460,1231739,1469785,1849041,1560887,1349173,1162164
43,T,Texas,1520591,1310777,1957713,1907326,1873544,1655483,1785986,1827503,1447457,1978374,1882532,1698698,1646508,1705322
44,U,Utah,1771096,1195861,1979395,1241662,1437456,1859416,1939284,1915865,1619186,1288285,1108281,1123353,1801019,1729273
45,V,Vermont,1146902,1832249,1492704,1579265,1332048,1563537,1123567,1618583,1326369,1792600,1714960,1146278,1282790,1565924
46,V,Virginia,1134317,1163996,1891068,1853855,1708715,1197698,1803330,1590043,1516758,1171686,1262342,1647032,1706707,1850394
47,W,Washington,1977749,1687136,1199490,1163092,1334864,1621989,1545621,1555554,1179331,1150089,1775787,1273834,1387428,1377341
48,W,West Virginia,1677347,1380662,1176100,1888948,1922085,1740826,1238174,1539322,1539603,1872519,1462137,1683127,1204344,1198791
49,W,Wisconsin,1788920,1518578,1289663,1436888,1251678,1721874,1980167,1901394,1648755,1940943,1729177,1510119,1701650,1846238
50,W,Wyoming,1775190,1498098,1198212,1881688,1750527,1523124,1587602,1504455,1282142,1881814,1673668,1994022,1204029,1853858

In [147]:
titanic_data['State'].isnull() #to check presence of null vaue inside State column

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
50    False
Name: State, dtype: bool

In [148]:
titanic_data.isna().sum() # to calcuate sum of tota nul values inside all the column

Index    0
State    0
Y2002    0
Y2003    0
Y2004    0
Y2005    0
Y2006    0
Y2007    0
Y2008    0
Y2009    0
Y2010    0
Y2011    0
Y2012    0
Y2013    0
Y2014    0
Y2015    0
dtype: int64

In [149]:
titanic_data.isna()

,Index,State,Y2002,Y2003,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
30,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
31,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
33,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
34,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
35,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
36,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
37,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
38,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
39,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
40,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
41,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
42,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
43,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
44,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
45,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
46,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
47,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
49,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
50,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [157]:
titanic_data.loc[1,'Index']

'A'

In [161]:
titanic_data.drop('Y2015',axis=1)

,Index,State,Y2002,Y2003,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013,Y2014
0,A,Alabama,1296530,1317711,1118631,1492583,1107408,1440134,1945229,1944173,1237582,1440756,1186741,1852841,1558906
1,A,Alaska,1170302,1960378,1818085,1447852,1861639,1465841,1551826,1436541,1629616,1230866,1512804,1985302,1580394
2,A,Arizona,1742027,1968140,1377583,1782199,1102568,1109382,1752886,1554330,1300521,1130709,1907284,1363279,1525866
3,A,Arkansas,1485531,1994927,1119299,1947979,1669191,1801213,1188104,1628980,1669295,1928238,1216675,1591896,1360959
4,C,California,1685349,1675807,1889570,1480280,1735069,1812546,1487315,1663809,1624509,1639670,1921845,1156536,1388461
5,C,Colorado,1343824,1878473,1886149,1236697,1871471,1814218,1875146,1752387,1913275,1665877,1491604,1178355,1383978
6,C,Connecticut,1610512,1232844,1181949,1518933,1841266,1976976,1764457,1972730,1968730,1945524,1228529,1582249,1503156
7,D,Delaware,1330403,1268673,1706751,1403759,1441351,1300836,1762096,1553585,1370984,1318669,1984027,1671279,1803169
8,D,District of Columbia,1111437,1993741,1374643,1827949,1803852,1595981,1193245,1739748,1707823,1353449,1979708,1912654,1782169
9,F,Florida,1964626,1468852,1419738,1362787,1339608,1278550,1756185,1818438,1198403,1497051,1131928,1107448,1407784
10,G,Georgia,1929009,1541565,1810773,1779091,1326846,1223770,1773090,1630325,1145473,1851245,1850111,1887157,1259353
11,H,Hawaii,1461570,1200280,1213993,1245931,1459383,1430465,1919423,1928416,1330509,1902816,1695126,1517184,1948108
12,I,Idaho,1353210,1438538,1739154,1541015,1122387,1772050,1335481,1748608,1436809,1456340,1643855,1312561,1713718
13,I,Illinois,1508356,1527440,1493029,1261353,1540274,1747614,1871645,1658551,1422021,1751422,1696729,1915435,1645465
14,I,Indiana,1776918,1734104,1269927,1204117,1848073,1129546,1139551,1883976,1999102,1559924,1905760,1129794,1988394
15,I,Iowa,1499269,1444576,1576367,1388924,1554813,1452911,1317983,1150783,1751389,1992996,1501879,1173694,1431705
16,K,Kansas,1509054,1290700,1522230,1532094,1104256,1863278,1949478,1561528,1550433,1465812,1882929,1410249,1930090
17,K,Kentucky,1813878,1448846,1800760,1250524,1137913,1911227,1301848,1956681,1350895,1512894,1916616,1878271,1722762
18,L,Louisiana,1584734,1110625,1868456,1751920,1233709,1920301,1185085,1124853,1498662,1210385,1234234,1287663,1908602
19,M,Maine,1582720,1678622,1208496,1912040,1438549,1330014,1295877,1969163,1627262,1706080,1437088,1318546,1116792
20,M,Maryland,1579713,1404700,1849798,1397738,1310270,1789128,1112765,1967225,1486246,1872327,1175819,1314343,1979529
21,M,Massachusetts,1647582,1686259,1620601,1777250,1531641,1380529,1978904,1567651,1761048,1658538,1482203,1731917,1669749
22,M,Michigan,1295635,1149931,1601027,1340716,1729449,1567494,1990431,1575185,1267626,1274673,1709853,1815596,1965196
23,M,Minnesota,1729921,1675204,1903907,1561839,1985692,1148621,1328133,1890633,1995304,1575533,1910216,1972021,1515366
24,M,Mississippi,1983285,1292558,1631325,1943311,1354579,1731643,1428291,1568049,1383227,1629132,1988270,1907777,1649668
25,M,Missouri,1221316,1858368,1773451,1573967,1374863,1486197,1735099,1800620,1164202,1425363,1800052,1698105,1767835
26,M,Montana,1877154,1540099,1332722,1273327,1625721,1983568,1251742,1592690,1350619,1520064,1185225,1465705,1110394
27,N,Nebraska,1885081,1309769,1425527,1240465,1500594,1278272,1140598,1270585,1128711,1187207,1569665,1690920,1459243
28,N,Nevada,1426117,1114500,1119707,1758830,1694526,1765826,1903270,1231480,1526066,1143343,1980195,1283813,1225348
29,N,New Hampshire,1419776,1854370,1195119,1990062,1645430,1286967,1762936,1763211,1265642,1704297,1131298,1197576,1242623
30,N,New Jersey,1605532,1141514,1613550,1181452,1541327,1156804,1568034,1357418,1443718,1390010,1202326,1100990,1850165
31,N,New Mexico,1819239,1226057,1935991,1124400,1723493,1475985,1237704,1820856,1801430,1653384,1475715,1623388,1533494
32,N,New York,1395149,1611371,1170675,1446810,1426941,1463171,1732098,1426216,1604531,1683687,1500089,1718837,1619033
33,N,North Carolina,1616742,1292223,1482792,1532347,1158716,1827420,1267737,1116168,1791535,1553750,1472258,1104893,1596452
34,N,North Dakota,1618807,1510193,1876940,1443172,1425030,1868788,1720352,1671468,1534571,1271132,1430978,1529024,1563898
35,O,Ohio,1802132,1648498,1441386,1670280,1534888,1314824,1516621,1511460,1585465,1887714,1227303,1840898,1880804
36,O,Oklahoma,1173918,1334639,1663622,1798714,1312574,1708245,1256746,1853142,1673831,1822933,1674707,1900523,1956742
37,O,Oregon,1794912,1726665,1805445,1133510,1502242,1419251,1482786,1862351,1103794,1935687,1905378,1522129,1509171
38,P,Pennsylvania,1320191,1446723,1218591,1122030,1971479,1563062,1274168,1571032,1433835,1483292,1290329,1475344,1931500
39,R,Rhode Island,1501744,1942942,1266657,1961923,1835983,1234040,1151409,1993136,1983569,1781016,1909119,1531212,1990412
40,S,South Carolina,1631522,1803455,1425193,1458191,1538731,1825195,1250499,1864685,1345102,1116203,1532332,1591735,1188417
41,S,South Dakota,1159037,1150689,1660148,1417141,1418586,1279134,1171870,1852424,1554782,1647245,1811156,1147488,1302834
42,T,Tennessee,1811867,1485909,1974179,1157059,1786132,1399191,1826406,1326460,1231739,1469785,1849041,1560887,1349173
43,T,Texas,1520591,1310777,1957713,1907326,1873544,1655483,1785986,1827503,1447457,1978374,1882532,1698698,1646508
44,U,Utah,1771096,1195861,1979395,1241662,1437456,1859416,1939284,1915865,1619186,1288285,1108281,1123353,1801019
45,V,Vermont,1146902,1832249,1492704,1579265,1332048,1563537,1123567,1618583,1326369,1792600,1714960,1146278,1282790
46,V,Virginia,1134317,1163996,1891068,1853855,1708715,1197698,1803330,1590043,1516758,1171686,1262342,1647032,1706707
47,W,Washington,1977749,1687136,1199490,1163092,1334864,1621989,1545621,1555554,1179331,1150089,1775787,1273834,1387428
48,W,West Virginia,1677347,1380662,1176100,1888948,1922085,1740826,1238174,1539322,1539603,1872519,1462137,1683127,1204344
49,W,Wisconsin,1788920,1518578,1289663,1436888,1251678,1721874,1980167,1901394,1648755,1940943,1729177,1510119,1701650
50,W,Wyoming,1775190,1498098,1198212,1881688,1750527,1523124,1587602,1504455,1282142,1881814,1673668,1994022,1204029

In [163]:
random_df.head()

          A            B         C         D         E
0  0.386943     0.613077  0.860317  0.936262  0.889799
1  0.570364     0.388331  0.070940  0.340006  0.067016
2  0.829592     0.498028  0.656968  0.219101  0.351919
3  0.920137  7890.000000  0.409780  0.219896  0.399324
4  0.318959     0.278313  0.007934  0.051537  0.679200

In [166]:
random_df.drop('E',axis=1,inplace=True) #use of inplace to delete it from original dataframe

In [167]:
random_df

           A            B         C         D
0   0.386943     0.613077  0.860317  0.936262
1   0.570364     0.388331  0.070940  0.340006
2   0.829592     0.498028  0.656968  0.219101
3   0.920137  7890.000000  0.409780  0.219896
4   0.318959     0.278313  0.007934  0.051537
5   0.393872     0.607396  0.515441  0.370084
6   0.133709     0.250918  0.938923  0.477506
7   0.143388     0.396385  0.241084  0.043416
8   0.696167     0.151459  0.972129  0.246175
9   0.074704     0.168510  0.857283  0.421175
10  0.708224     0.981169  0.696932  0.537742
11  0.127325     0.846417  0.146283  0.166702
12  0.029322     0.724000  0.922674  0.226188
13  0.256365     0.591003  0.713078  0.414845
14  0.105669     0.269445  0.377594  0.009384
15  0.987095     0.467670  0.043607  0.025028
16  0.914729     0.955716  0.825948  0.474785
17  0.872337     0.896500  0.027728  0.993992
18  0.601355     0.554713  0.985506  0.281736
19  0.960346     0.415706  0.594390  0.025078
20  0.453270     0.719302  0.544971  0.332516
21  0.112844     0.604353  0.605485  0.106186
22  0.637132     0.841312  0.797069  0.412261
23  0.155339     0.645127  0.899168  0.628464
24  0.288059     0.881739  0.381507  0.812140
25  0.478004     0.925881  0.612529  0.394602
26  0.677959     0.729975  0.114102  0.488534
27  0.394888     0.188624  0.204821  0.943390
28  0.107042     0.589960  0.833256  0.827864
29  0.809575     0.744345  0.135092  0.316942
30  0.190934     0.509464  0.369460  0.552377
31  0.889831     0.296140  0.551646  0.428039
32  0.199584     0.735265  0.551481  0.106699
33  0.220683     0.070480  0.537180  0.947937

In [174]:
titanic_data['State'].value_counts()

Alabama                 1
Pennsylvania            1
Nevada                  1
New Hampshire           1
New Jersey              1
New Mexico              1
New York                1
North Carolina          1
North Dakota            1
Ohio                    1
Oklahoma                1
Oregon                  1
Rhode Island            1
Montana                 1
South Carolina          1
South Dakota            1
Tennessee               1
Texas                   1
Utah                    1
Vermont                 1
Virginia                1
Washington              1
West Virginia           1
Wisconsin               1
Nebraska                1
Missouri                1
Alaska                  1
Idaho                   1
Arizona                 1
Arkansas                1
California              1
Colorado                1
Connecticut             1
Delaware                1
District of Columbia    1
Florida                 1
Georgia                 1
Hawaii                  1
Illinois                1
Mississippi             1
Indiana                 1
Iowa                    1
Kansas                  1
Kentucky                1
Louisiana               1
Maine                   1
Maryland                1
Massachusetts           1
Michigan                1
Minnesota               1
Wyoming                 1
Name: State, dtype: int64

In [175]:
titanic_data.columns

Index(['Index', 'State', 'Y2002', 'Y2003', 'Y2004', 'Y2005', 'Y2006', 'Y2007',
       'Y2008', 'Y2009', 'Y2010', 'Y2011', 'Y2012', 'Y2013', 'Y2014', 'Y2015'],
      dtype='object')

In [176]:
titanic_data.select_dtypes(include='number').columns #return name of columns which have numeric values

Index(['Y2002', 'Y2003', 'Y2004', 'Y2005', 'Y2006', 'Y2007', 'Y2008', 'Y2009',
       'Y2010', 'Y2011', 'Y2012', 'Y2013', 'Y2014', 'Y2015'],
      dtype='object')

In [178]:
titanic_data.select_dtypes(exclude='number').columns

Index(['Index', 'State'], dtype='object')

In [180]:
titanic_data[titanic_data.select_dtypes(exclude='number').columns]['State']

0                  Alabama
1                   Alaska
2                  Arizona
3                 Arkansas
4               California
5                 Colorado
6              Connecticut
7                 Delaware
8     District of Columbia
9                  Florida
10                 Georgia
11                  Hawaii
12                   Idaho
13                Illinois
14                 Indiana
15                    Iowa
16                  Kansas
17                Kentucky
18               Louisiana
19                   Maine
20                Maryland
21           Massachusetts
22                Michigan
23               Minnesota
24             Mississippi
25                Missouri
26                 Montana
27                Nebraska
28                  Nevada
29           New Hampshire
30              New Jersey
31              New Mexico
32                New York
33          North Carolina
34            North Dakota
35                    Ohio
36                Oklahoma
37                  Oregon
38            Pennsylvania
39            Rhode Island
40          South Carolina
41            South Dakota
42               Tennessee
43                   Texas
44                    Utah
45                 Vermont
46                Virginia
47              Washington
48           West Virginia
49               Wisconsin
50                 Wyoming
Name: State, dtype: object

In [184]:
titanic_data.head()

,Index,State,Y2002,Y2003,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015
0,A,Alabama,1296530,1317711,1118631,1492583,1107408,1440134,1945229,1944173,1237582,1440756,1186741,1852841,1558906,1916661
1,A,Alaska,1170302,1960378,1818085,1447852,1861639,1465841,1551826,1436541,1629616,1230866,1512804,1985302,1580394,1979143
2,A,Arizona,1742027,1968140,1377583,1782199,1102568,1109382,1752886,1554330,1300521,1130709,1907284,1363279,1525866,1647724
3,A,Arkansas,1485531,1994927,1119299,1947979,1669191,1801213,1188104,1628980,1669295,1928238,1216675,1591896,1360959,1329341
4,C,California,1685349,1675807,1889570,1480280,1735069,1812546,1487315,1663809,1624509,1639670,1921845,1156536,1388461,1644607

# Statistics part

In [185]:
titanic_data.describe()

,Y2002,Y2003,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015
count,5.100000e+01,5.100000e+01,5.100000e+01,5.100000e+01,5.100000e+01,5.100000e+01,5.100000e+01,5.100000e+01,5.100000e+01,5.100000e+01,5.100000e+01,5.100000e+01,5.100000e+01,5.100000e+01
mean,1.566034e+06,1.509193e+06,1.540555e+06,1.522064e+06,1.530969e+06,1.553219e+06,1.538398e+06,1.658519e+06,1.504108e+06,1.574968e+06,1.591135e+06,1.530078e+06,1.583360e+06,1.588297e+06
std,2.464425e+05,2.641092e+05,2.813872e+05,2.671748e+05,2.505603e+05,2.539575e+05,2.958132e+05,2.361854e+05,2.400771e+05,2.657216e+05,2.837675e+05,2.827299e+05,2.601554e+05,2.743807e+05
min,1.111437e+06,1.110625e+06,1.118631e+06,1.122030e+06,1.102568e+06,1.109382e+06,1.112765e+06,1.116168e+06,1.103794e+06,1.116203e+06,1.108281e+06,1.100990e+06,1.110394e+06,1.110655e+06
25%,1.374180e+06,1.292390e+06,1.268292e+06,1.267340e+06,1.337236e+06,1.322419e+06,1.254244e+06,1.553958e+06,1.328439e+06,1.371730e+06,1.360654e+06,1.285738e+06,1.385703e+06,1.372523e+06
50%,1.584734e+06,1.485909e+06,1.522230e+06,1.480280e+06,1.531641e+06,1.563062e+06,1.545621e+06,1.658551e+06,1.498662e+06,1.575533e+06,1.643855e+06,1.531212e+06,1.580394e+06,1.627508e+06
75%,1.776054e+06,1.686698e+06,1.808109e+06,1.778170e+06,1.732259e+06,1.780589e+06,1.779538e+06,1.857746e+06,1.639186e+06,1.807766e+06,1.866322e+06,1.725377e+06,1.791594e+06,1.848316e+06
max,1.983285e+06,1.994927e+06,1.979395e+06,1.990062e+06,1.985692e+06,1.983568e+06,1.990431e+06,1.993136e+06,1.999102e+06,1.992996e+06,1.988270e+06,1.994022e+06,1.990412e+06,1.996005e+06

In [186]:
titanic_data['State'].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'], dtype=object)

In [189]:
titanic_data['Y2002'].nunique()

51

In [191]:
titanic_data['Y2002'].value_counts()

1296530    1
1320191    1
1426117    1
1419776    1
1605532    1
1819239    1
1395149    1
1616742    1
1618807    1
1802132    1
1173918    1
1794912    1
1501744    1
1877154    1
1631522    1
1159037    1
1811867    1
1520591    1
1771096    1
1146902    1
1134317    1
1977749    1
1677347    1
1788920    1
1885081    1
1221316    1
1170302    1
1353210    1
1742027    1
1485531    1
1685349    1
1343824    1
1610512    1
1330403    1
1111437    1
1964626    1
1929009    1
1461570    1
1508356    1
1983285    1
1776918    1
1499269    1
1509054    1
1813878    1
1584734    1
1582720    1
1579713    1
1647582    1
1295635    1
1729921    1
1775190    1
Name: Y2002, dtype: int64

In [192]:
## mean,median,mode,correlation,count,max,min,std

In [195]:
titanic_data[titanic_data.select_dtypes(include='number').columns]

,Y2002,Y2003,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015
0,1296530,1317711,1118631,1492583,1107408,1440134,1945229,1944173,1237582,1440756,1186741,1852841,1558906,1916661
1,1170302,1960378,1818085,1447852,1861639,1465841,1551826,1436541,1629616,1230866,1512804,1985302,1580394,1979143
2,1742027,1968140,1377583,1782199,1102568,1109382,1752886,1554330,1300521,1130709,1907284,1363279,1525866,1647724
3,1485531,1994927,1119299,1947979,1669191,1801213,1188104,1628980,1669295,1928238,1216675,1591896,1360959,1329341
4,1685349,1675807,1889570,1480280,1735069,1812546,1487315,1663809,1624509,1639670,1921845,1156536,1388461,1644607
5,1343824,1878473,1886149,1236697,1871471,1814218,1875146,1752387,1913275,1665877,1491604,1178355,1383978,1330736
6,1610512,1232844,1181949,1518933,1841266,1976976,1764457,1972730,1968730,1945524,1228529,1582249,1503156,1718072
7,1330403,1268673,1706751,1403759,1441351,1300836,1762096,1553585,1370984,1318669,1984027,1671279,1803169,1627508
8,1111437,1993741,1374643,1827949,1803852,1595981,1193245,1739748,1707823,1353449,1979708,1912654,1782169,1410183
9,1964626,1468852,1419738,1362787,1339608,1278550,1756185,1818438,1198403,1497051,1131928,1107448,1407784,1170389
10,1929009,1541565,1810773,1779091,1326846,1223770,1773090,1630325,1145473,1851245,1850111,1887157,1259353,1725470
11,1461570,1200280,1213993,1245931,1459383,1430465,1919423,1928416,1330509,1902816,1695126,1517184,1948108,1150882
12,1353210,1438538,1739154,1541015,1122387,1772050,1335481,1748608,1436809,1456340,1643855,1312561,1713718,1757171
13,1508356,1527440,1493029,1261353,1540274,1747614,1871645,1658551,1422021,1751422,1696729,1915435,1645465,1583516
14,1776918,1734104,1269927,1204117,1848073,1129546,1139551,1883976,1999102,1559924,1905760,1129794,1988394,1467614
15,1499269,1444576,1576367,1388924,1554813,1452911,1317983,1150783,1751389,1992996,1501879,1173694,1431705,1641866
16,1509054,1290700,1522230,1532094,1104256,1863278,1949478,1561528,1550433,1465812,1882929,1410249,1930090,1385528
17,1813878,1448846,1800760,1250524,1137913,1911227,1301848,1956681,1350895,1512894,1916616,1878271,1722762,1913350
18,1584734,1110625,1868456,1751920,1233709,1920301,1185085,1124853,1498662,1210385,1234234,1287663,1908602,1403857
19,1582720,1678622,1208496,1912040,1438549,1330014,1295877,1969163,1627262,1706080,1437088,1318546,1116792,1529233
20,1579713,1404700,1849798,1397738,1310270,1789128,1112765,1967225,1486246,1872327,1175819,1314343,1979529,1569566
21,1647582,1686259,1620601,1777250,1531641,1380529,1978904,1567651,1761048,1658538,1482203,1731917,1669749,1963337
22,1295635,1149931,1601027,1340716,1729449,1567494,1990431,1575185,1267626,1274673,1709853,1815596,1965196,1646634
23,1729921,1675204,1903907,1561839,1985692,1148621,1328133,1890633,1995304,1575533,1910216,1972021,1515366,1864553
24,1983285,1292558,1631325,1943311,1354579,1731643,1428291,1568049,1383227,1629132,1988270,1907777,1649668,1991232
25,1221316,1858368,1773451,1573967,1374863,1486197,1735099,1800620,1164202,1425363,1800052,1698105,1767835,1996005
26,1877154,1540099,1332722,1273327,1625721,1983568,1251742,1592690,1350619,1520064,1185225,1465705,1110394,1125903
27,1885081,1309769,1425527,1240465,1500594,1278272,1140598,1270585,1128711,1187207,1569665,1690920,1459243,1802211
28,1426117,1114500,1119707,1758830,1694526,1765826,1903270,1231480,1526066,1143343,1980195,1283813,1225348,1903804
29,1419776,1854370,1195119,1990062,1645430,1286967,1762936,1763211,1265642,1704297,1131298,1197576,1242623,1963313
30,1605532,1141514,1613550,1181452,1541327,1156804,1568034,1357418,1443718,1390010,1202326,1100990,1850165,1183568
31,1819239,1226057,1935991,1124400,1723493,1475985,1237704,1820856,1801430,1653384,1475715,1623388,1533494,1868612
32,1395149,1611371,1170675,1446810,1426941,1463171,1732098,1426216,1604531,1683687,1500089,1718837,1619033,1367705
33,1616742,1292223,1482792,1532347,1158716,1827420,1267737,1116168,1791535,1553750,1472258,1104893,1596452,1229085
34,1618807,1510193,1876940,1443172,1425030,1868788,1720352,1671468,1534571,1271132,1430978,1529024,1563898,1604118
35,1802132,1648498,1441386,1670280,1534888,1314824,1516621,1511460,1585465,1887714,1227303,1840898,1880804,1573117
36,1173918,1334639,1663622,1798714,1312574,1708245,1256746,1853142,1673831,1822933,1674707,1900523,1956742,1307678
37,1794912,1726665,1805445,1133510,1502242,1419251,1482786,1862351,1103794,1935687,1905378,1522129,1509171,1893515
38,1320191,1446723,1218591,1122030,1971479,1563062,1274168,1571032,1433835,1483292,1290329,1475344,1931500,1668232
39,1501744,1942942,1266657,1961923,1835983,1234040,1151409,1993136,1983569,1781016,1909119,1531212,1990412,1611730
40,1631522,1803455,1425193,1458191,1538731,1825195,1250499,1864685,1345102,1116203,1532332,1591735,1188417,1110655
41,1159037,1150689,1660148,1417141,1418586,1279134,1171870,1852424,1554782,1647245,1811156,1147488,1302834,1136443
42,1811867,1485909,1974179,1157059,1786132,1399191,1826406,1326460,1231739,1469785,1849041,1560887,1349173,1162164
43,1520591,1310777,1957713,1907326,1873544,1655483,1785986,1827503,1447457,1978374,1882532,1698698,1646508,1705322
44,1771096,1195861,1979395,1241662,1437456,1859416,1939284,1915865,1619186,1288285,1108281,1123353,1801019,1729273
45,1146902,1832249,1492704,1579265,1332048,1563537,1123567,1618583,1326369,1792600,1714960,1146278,1282790,1565924
46,1134317,1163996,1891068,1853855,1708715,1197698,1803330,1590043,1516758,1171686,1262342,1647032,1706707,1850394
47,1977749,1687136,1199490,1163092,1334864,1621989,1545621,1555554,1179331,1150089,1775787,1273834,1387428,1377341
48,1677347,1380662,1176100,1888948,1922085,1740826,1238174,1539322,1539603,1872519,1462137,1683127,1204344,1198791
49,1788920,1518578,1289663,1436888,1251678,1721874,1980167,1901394,1648755,1940943,1729177,1510119,1701650,1846238
50,1775190,1498098,1198212,1881688,1750527,1523124,1587602,1504455,1282142,1881814,1673668,1994022,1204029,1853858

In [196]:
#to perform mean

In [197]:
titanic_data[titanic_data.select_dtypes(include='number').columns].mean()

Y2002    1.566034e+06
Y2003    1.509193e+06
Y2004    1.540555e+06
Y2005    1.522064e+06
Y2006    1.530969e+06
Y2007    1.553219e+06
Y2008    1.538398e+06
Y2009    1.658519e+06
Y2010    1.504108e+06
Y2011    1.574968e+06
Y2012    1.591135e+06
Y2013    1.530078e+06
Y2014    1.583360e+06
Y2015    1.588297e+06
dtype: float64

In [201]:
titanic_data[titanic_data.select_dtypes(include='number').columns].mean()

Y2002    1.566034e+06
Y2003    1.509193e+06
Y2004    1.540555e+06
Y2005    1.522064e+06
Y2006    1.530969e+06
Y2007    1.553219e+06
Y2008    1.538398e+06
Y2009    1.658519e+06
Y2010    1.504108e+06
Y2011    1.574968e+06
Y2012    1.591135e+06
Y2013    1.530078e+06
Y2014    1.583360e+06
Y2015    1.588297e+06
dtype: float64

In [209]:
for i in titanic_data[titanic_data.select_dtypes(include='number').columns]:
       print(i,titanic_data[i].mode()[0]) #use  0 to get 1st value and 1 for second mode value

Y2002 1111437
Y2003 1110625
Y2004 1118631
Y2005 1122030
Y2006 1102568
Y2007 1109382
Y2008 1112765
Y2009 1116168
Y2010 1103794
Y2011 1116203
Y2012 1108281
Y2013 1100990
Y2014 1110394
Y2015 1110655

In [210]:
titanic_data[titanic_data.select_dtypes(include='number').columns].std()

Y2002    246442.459132
Y2003    264109.151185
Y2004    281387.236178
Y2005    267174.801632
Y2006    250560.258460
Y2007    253957.483832
Y2008    295813.162384
Y2009    236185.441348
Y2010    240077.061705
Y2011    265721.615121
Y2012    283767.535635
Y2013    282729.943163
Y2014    260155.434365
Y2015    274380.663039
dtype: float64

In [211]:
titanic_data[titanic_data.select_dtypes(include='number').columns].min()

Y2002    1111437
Y2003    1110625
Y2004    1118631
Y2005    1122030
Y2006    1102568
Y2007    1109382
Y2008    1112765
Y2009    1116168
Y2010    1103794
Y2011    1116203
Y2012    1108281
Y2013    1100990
Y2014    1110394
Y2015    1110655
dtype: int64

In [212]:
titanic_data[titanic_data.select_dtypes(include='number').columns].max()

Y2002    1983285
Y2003    1994927
Y2004    1979395
Y2005    1990062
Y2006    1985692
Y2007    1983568
Y2008    1990431
Y2009    1993136
Y2010    1999102
Y2011    1992996
Y2012    1988270
Y2013    1994022
Y2014    1990412
Y2015    1996005
dtype: int64

In [213]:
titanic_data.corr()

,Y2002,Y2003,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015
Y2002,1.000000,-0.048841,0.003871,-0.190559,-0.101998,0.015535,-0.022456,-0.035117,-0.149032,0.083292,0.003327,-0.044693,-0.226558,-0.007317
Y2003,-0.048841,1.000000,-0.167333,0.202657,0.180266,-0.172262,-0.184427,0.197571,0.104967,0.091758,0.151326,0.076996,-0.220652,0.060019
Y2004,0.003871,-0.167333,1.000000,-0.208694,-0.021157,0.054169,0.045926,0.011147,0.011606,-0.128040,0.137323,0.036085,0.198669,0.178046
Y2005,-0.190559,0.202657,-0.208694,1.000000,0.027243,-0.053598,-0.055967,-0.016870,0.132065,0.189869,0.056657,0.245025,-0.151338,0.197506
Y2006,-0.101998,0.180266,-0.021157,0.027243,1.000000,-0.136818,-0.088494,0.022668,0.391648,0.143777,0.008174,0.172682,-0.127458,0.023095
Y2007,0.015535,-0.172262,0.054169,-0.053598,-0.136818,1.000000,-0.036610,-0.011732,0.092605,0.032211,-0.135876,-0.045729,-0.041601,-0.129788
Y2008,-0.022456,-0.184427,0.045926,-0.055967,-0.088494,-0.036610,1.000000,0.011389,-0.214702,-0.100109,0.010556,0.113274,0.063300,0.234311
Y2009,-0.035117,0.197571,0.011147,-0.016870,0.022668,-0.011732,0.011389,1.000000,0.136887,0.297504,0.042352,0.096282,0.119494,0.116351
Y2010,-0.149032,0.104967,0.011606,0.132065,0.391648,0.092605,-0.214702,0.136887,1.000000,0.241471,-0.039096,-0.101126,0.210885,-0.050283
Y2011,0.083292,0.091758,-0.128040,0.189869,0.143777,0.032211,-0.100109,0.297504,0.241471,1.000000,-0.025852,0.087254,-0.057081,-0.010097
Y2012,0.003327,0.151326,0.137323,0.056657,0.008174,-0.135876,0.010556,0.042352,-0.039096,-0.025852,1.000000,0.236756,0.054288,0.158441
Y2013,-0.044693,0.076996,0.036085,0.245025,0.172682,-0.045729,0.113274,0.096282,-0.101126,0.087254,0.236756,1.000000,0.113071,0.368444
Y2014,-0.226558,-0.220652,0.198669,-0.151338,-0.127458,-0.041601,0.063300,0.119494,0.210885,-0.057081,0.054288,0.113071,1.000000,0.080775
Y2015,-0.007317,0.060019,0.178046,0.197506,0.023095,-0.129788,0.234311,0.116351,-0.050283,-0.010097,0.158441,0.368444,0.080775,1.000000

In [214]:
titanic_data.dropna()

,Index,State,Y2002,Y2003,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015
0,A,Alabama,1296530,1317711,1118631,1492583,1107408,1440134,1945229,1944173,1237582,1440756,1186741,1852841,1558906,1916661
1,A,Alaska,1170302,1960378,1818085,1447852,1861639,1465841,1551826,1436541,1629616,1230866,1512804,1985302,1580394,1979143
2,A,Arizona,1742027,1968140,1377583,1782199,1102568,1109382,1752886,1554330,1300521,1130709,1907284,1363279,1525866,1647724
3,A,Arkansas,1485531,1994927,1119299,1947979,1669191,1801213,1188104,1628980,1669295,1928238,1216675,1591896,1360959,1329341
4,C,California,1685349,1675807,1889570,1480280,1735069,1812546,1487315,1663809,1624509,1639670,1921845,1156536,1388461,1644607
5,C,Colorado,1343824,1878473,1886149,1236697,1871471,1814218,1875146,1752387,1913275,1665877,1491604,1178355,1383978,1330736
6,C,Connecticut,1610512,1232844,1181949,1518933,1841266,1976976,1764457,1972730,1968730,1945524,1228529,1582249,1503156,1718072
7,D,Delaware,1330403,1268673,1706751,1403759,1441351,1300836,1762096,1553585,1370984,1318669,1984027,1671279,1803169,1627508
8,D,District of Columbia,1111437,1993741,1374643,1827949,1803852,1595981,1193245,1739748,1707823,1353449,1979708,1912654,1782169,1410183
9,F,Florida,1964626,1468852,1419738,1362787,1339608,1278550,1756185,1818438,1198403,1497051,1131928,1107448,1407784,1170389
10,G,Georgia,1929009,1541565,1810773,1779091,1326846,1223770,1773090,1630325,1145473,1851245,1850111,1887157,1259353,1725470
11,H,Hawaii,1461570,1200280,1213993,1245931,1459383,1430465,1919423,1928416,1330509,1902816,1695126,1517184,1948108,1150882
12,I,Idaho,1353210,1438538,1739154,1541015,1122387,1772050,1335481,1748608,1436809,1456340,1643855,1312561,1713718,1757171
13,I,Illinois,1508356,1527440,1493029,1261353,1540274,1747614,1871645,1658551,1422021,1751422,1696729,1915435,1645465,1583516
14,I,Indiana,1776918,1734104,1269927,1204117,1848073,1129546,1139551,1883976,1999102,1559924,1905760,1129794,1988394,1467614
15,I,Iowa,1499269,1444576,1576367,1388924,1554813,1452911,1317983,1150783,1751389,1992996,1501879,1173694,1431705,1641866
16,K,Kansas,1509054,1290700,1522230,1532094,1104256,1863278,1949478,1561528,1550433,1465812,1882929,1410249,1930090,1385528
17,K,Kentucky,1813878,1448846,1800760,1250524,1137913,1911227,1301848,1956681,1350895,1512894,1916616,1878271,1722762,1913350
18,L,Louisiana,1584734,1110625,1868456,1751920,1233709,1920301,1185085,1124853,1498662,1210385,1234234,1287663,1908602,1403857
19,M,Maine,1582720,1678622,1208496,1912040,1438549,1330014,1295877,1969163,1627262,1706080,1437088,1318546,1116792,1529233
20,M,Maryland,1579713,1404700,1849798,1397738,1310270,1789128,1112765,1967225,1486246,1872327,1175819,1314343,1979529,1569566
21,M,Massachusetts,1647582,1686259,1620601,1777250,1531641,1380529,1978904,1567651,1761048,1658538,1482203,1731917,1669749,1963337
22,M,Michigan,1295635,1149931,1601027,1340716,1729449,1567494,1990431,1575185,1267626,1274673,1709853,1815596,1965196,1646634
23,M,Minnesota,1729921,1675204,1903907,1561839,1985692,1148621,1328133,1890633,1995304,1575533,1910216,1972021,1515366,1864553
24,M,Mississippi,1983285,1292558,1631325,1943311,1354579,1731643,1428291,1568049,1383227,1629132,1988270,1907777,1649668,1991232
25,M,Missouri,1221316,1858368,1773451,1573967,1374863,1486197,1735099,1800620,1164202,1425363,1800052,1698105,1767835,1996005
26,M,Montana,1877154,1540099,1332722,1273327,1625721,1983568,1251742,1592690,1350619,1520064,1185225,1465705,1110394,1125903
27,N,Nebraska,1885081,1309769,1425527,1240465,1500594,1278272,1140598,1270585,1128711,1187207,1569665,1690920,1459243,1802211
28,N,Nevada,1426117,1114500,1119707,1758830,1694526,1765826,1903270,1231480,1526066,1143343,1980195,1283813,1225348,1903804
29,N,New Hampshire,1419776,1854370,1195119,1990062,1645430,1286967,1762936,1763211,1265642,1704297,1131298,1197576,1242623,1963313
30,N,New Jersey,1605532,1141514,1613550,1181452,1541327,1156804,1568034,1357418,1443718,1390010,1202326,1100990,1850165,1183568
31,N,New Mexico,1819239,1226057,1935991,1124400,1723493,1475985,1237704,1820856,1801430,1653384,1475715,1623388,1533494,1868612
32,N,New York,1395149,1611371,1170675,1446810,1426941,1463171,1732098,1426216,1604531,1683687,1500089,1718837,1619033,1367705
33,N,North Carolina,1616742,1292223,1482792,1532347,1158716,1827420,1267737,1116168,1791535,1553750,1472258,1104893,1596452,1229085
34,N,North Dakota,1618807,1510193,1876940,1443172,1425030,1868788,1720352,1671468,1534571,1271132,1430978,1529024,1563898,1604118
35,O,Ohio,1802132,1648498,1441386,1670280,1534888,1314824,1516621,1511460,1585465,1887714,1227303,1840898,1880804,1573117
36,O,Oklahoma,1173918,1334639,1663622,1798714,1312574,1708245,1256746,1853142,1673831,1822933,1674707,1900523,1956742,1307678
37,O,Oregon,1794912,1726665,1805445,1133510,1502242,1419251,1482786,1862351,1103794,1935687,1905378,1522129,1509171,1893515
38,P,Pennsylvania,1320191,1446723,1218591,1122030,1971479,1563062,1274168,1571032,1433835,1483292,1290329,1475344,1931500,1668232
39,R,Rhode Island,1501744,1942942,1266657,1961923,1835983,1234040,1151409,1993136,1983569,1781016,1909119,1531212,1990412,1611730
40,S,South Carolina,1631522,1803455,1425193,1458191,1538731,1825195,1250499,1864685,1345102,1116203,1532332,1591735,1188417,1110655
41,S,South Dakota,1159037,1150689,1660148,1417141,1418586,1279134,1171870,1852424,1554782,1647245,1811156,1147488,1302834,1136443
42,T,Tennessee,1811867,1485909,1974179,1157059,1786132,1399191,1826406,1326460,1231739,1469785,1849041,1560887,1349173,1162164
43,T,Texas,1520591,1310777,1957713,1907326,1873544,1655483,1785986,1827503,1447457,1978374,1882532,1698698,1646508,1705322
44,U,Utah,1771096,1195861,1979395,1241662,1437456,1859416,1939284,1915865,1619186,1288285,1108281,1123353,1801019,1729273
45,V,Vermont,1146902,1832249,1492704,1579265,1332048,1563537,1123567,1618583,1326369,1792600,1714960,1146278,1282790,1565924
46,V,Virginia,1134317,1163996,1891068,1853855,1708715,1197698,1803330,1590043,1516758,1171686,1262342,1647032,1706707,1850394
47,W,Washington,1977749,1687136,1199490,1163092,1334864,1621989,1545621,1555554,1179331,1150089,1775787,1273834,1387428,1377341
48,W,West Virginia,1677347,1380662,1176100,1888948,1922085,1740826,1238174,1539322,1539603,1872519,1462137,1683127,1204344,1198791
49,W,Wisconsin,1788920,1518578,1289663,1436888,1251678,1721874,1980167,1901394,1648755,1940943,1729177,1510119,1701650,1846238
50,W,Wyoming,1775190,1498098,1198212,1881688,1750527,1523124,1587602,1504455,1282142,1881814,1673668,1994022,1204029,1853858

In [215]:
titanic_data.dropna(axis=0)

,Index,State,Y2002,Y2003,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015
0,A,Alabama,1296530,1317711,1118631,1492583,1107408,1440134,1945229,1944173,1237582,1440756,1186741,1852841,1558906,1916661
1,A,Alaska,1170302,1960378,1818085,1447852,1861639,1465841,1551826,1436541,1629616,1230866,1512804,1985302,1580394,1979143
2,A,Arizona,1742027,1968140,1377583,1782199,1102568,1109382,1752886,1554330,1300521,1130709,1907284,1363279,1525866,1647724
3,A,Arkansas,1485531,1994927,1119299,1947979,1669191,1801213,1188104,1628980,1669295,1928238,1216675,1591896,1360959,1329341
4,C,California,1685349,1675807,1889570,1480280,1735069,1812546,1487315,1663809,1624509,1639670,1921845,1156536,1388461,1644607
5,C,Colorado,1343824,1878473,1886149,1236697,1871471,1814218,1875146,1752387,1913275,1665877,1491604,1178355,1383978,1330736
6,C,Connecticut,1610512,1232844,1181949,1518933,1841266,1976976,1764457,1972730,1968730,1945524,1228529,1582249,1503156,1718072
7,D,Delaware,1330403,1268673,1706751,1403759,1441351,1300836,1762096,1553585,1370984,1318669,1984027,1671279,1803169,1627508
8,D,District of Columbia,1111437,1993741,1374643,1827949,1803852,1595981,1193245,1739748,1707823,1353449,1979708,1912654,1782169,1410183
9,F,Florida,1964626,1468852,1419738,1362787,1339608,1278550,1756185,1818438,1198403,1497051,1131928,1107448,1407784,1170389
10,G,Georgia,1929009,1541565,1810773,1779091,1326846,1223770,1773090,1630325,1145473,1851245,1850111,1887157,1259353,1725470
11,H,Hawaii,1461570,1200280,1213993,1245931,1459383,1430465,1919423,1928416,1330509,1902816,1695126,1517184,1948108,1150882
12,I,Idaho,1353210,1438538,1739154,1541015,1122387,1772050,1335481,1748608,1436809,1456340,1643855,1312561,1713718,1757171
13,I,Illinois,1508356,1527440,1493029,1261353,1540274,1747614,1871645,1658551,1422021,1751422,1696729,1915435,1645465,1583516
14,I,Indiana,1776918,1734104,1269927,1204117,1848073,1129546,1139551,1883976,1999102,1559924,1905760,1129794,1988394,1467614
15,I,Iowa,1499269,1444576,1576367,1388924,1554813,1452911,1317983,1150783,1751389,1992996,1501879,1173694,1431705,1641866
16,K,Kansas,1509054,1290700,1522230,1532094,1104256,1863278,1949478,1561528,1550433,1465812,1882929,1410249,1930090,1385528
17,K,Kentucky,1813878,1448846,1800760,1250524,1137913,1911227,1301848,1956681,1350895,1512894,1916616,1878271,1722762,1913350
18,L,Louisiana,1584734,1110625,1868456,1751920,1233709,1920301,1185085,1124853,1498662,1210385,1234234,1287663,1908602,1403857
19,M,Maine,1582720,1678622,1208496,1912040,1438549,1330014,1295877,1969163,1627262,1706080,1437088,1318546,1116792,1529233
20,M,Maryland,1579713,1404700,1849798,1397738,1310270,1789128,1112765,1967225,1486246,1872327,1175819,1314343,1979529,1569566
21,M,Massachusetts,1647582,1686259,1620601,1777250,1531641,1380529,1978904,1567651,1761048,1658538,1482203,1731917,1669749,1963337
22,M,Michigan,1295635,1149931,1601027,1340716,1729449,1567494,1990431,1575185,1267626,1274673,1709853,1815596,1965196,1646634
23,M,Minnesota,1729921,1675204,1903907,1561839,1985692,1148621,1328133,1890633,1995304,1575533,1910216,1972021,1515366,1864553
24,M,Mississippi,1983285,1292558,1631325,1943311,1354579,1731643,1428291,1568049,1383227,1629132,1988270,1907777,1649668,1991232
25,M,Missouri,1221316,1858368,1773451,1573967,1374863,1486197,1735099,1800620,1164202,1425363,1800052,1698105,1767835,1996005
26,M,Montana,1877154,1540099,1332722,1273327,1625721,1983568,1251742,1592690,1350619,1520064,1185225,1465705,1110394,1125903
27,N,Nebraska,1885081,1309769,1425527,1240465,1500594,1278272,1140598,1270585,1128711,1187207,1569665,1690920,1459243,1802211
28,N,Nevada,1426117,1114500,1119707,1758830,1694526,1765826,1903270,1231480,1526066,1143343,1980195,1283813,1225348,1903804
29,N,New Hampshire,1419776,1854370,1195119,1990062,1645430,1286967,1762936,1763211,1265642,1704297,1131298,1197576,1242623,1963313
30,N,New Jersey,1605532,1141514,1613550,1181452,1541327,1156804,1568034,1357418,1443718,1390010,1202326,1100990,1850165,1183568
31,N,New Mexico,1819239,1226057,1935991,1124400,1723493,1475985,1237704,1820856,1801430,1653384,1475715,1623388,1533494,1868612
32,N,New York,1395149,1611371,1170675,1446810,1426941,1463171,1732098,1426216,1604531,1683687,1500089,1718837,1619033,1367705
33,N,North Carolina,1616742,1292223,1482792,1532347,1158716,1827420,1267737,1116168,1791535,1553750,1472258,1104893,1596452,1229085
34,N,North Dakota,1618807,1510193,1876940,1443172,1425030,1868788,1720352,1671468,1534571,1271132,1430978,1529024,1563898,1604118
35,O,Ohio,1802132,1648498,1441386,1670280,1534888,1314824,1516621,1511460,1585465,1887714,1227303,1840898,1880804,1573117
36,O,Oklahoma,1173918,1334639,1663622,1798714,1312574,1708245,1256746,1853142,1673831,1822933,1674707,1900523,1956742,1307678
37,O,Oregon,1794912,1726665,1805445,1133510,1502242,1419251,1482786,1862351,1103794,1935687,1905378,1522129,1509171,1893515
38,P,Pennsylvania,1320191,1446723,1218591,1122030,1971479,1563062,1274168,1571032,1433835,1483292,1290329,1475344,1931500,1668232
39,R,Rhode Island,1501744,1942942,1266657,1961923,1835983,1234040,1151409,1993136,1983569,1781016,1909119,1531212,1990412,1611730
40,S,South Carolina,1631522,1803455,1425193,1458191,1538731,1825195,1250499,1864685,1345102,1116203,1532332,1591735,1188417,1110655
41,S,South Dakota,1159037,1150689,1660148,1417141,1418586,1279134,1171870,1852424,1554782,1647245,1811156,1147488,1302834,1136443
42,T,Tennessee,1811867,1485909,1974179,1157059,1786132,1399191,1826406,1326460,1231739,1469785,1849041,1560887,1349173,1162164
43,T,Texas,1520591,1310777,1957713,1907326,1873544,1655483,1785986,1827503,1447457,1978374,1882532,1698698,1646508,1705322
44,U,Utah,1771096,1195861,1979395,1241662,1437456,1859416,1939284,1915865,1619186,1288285,1108281,1123353,1801019,1729273
45,V,Vermont,1146902,1832249,1492704,1579265,1332048,1563537,1123567,1618583,1326369,1792600,1714960,1146278,1282790,1565924
46,V,Virginia,1134317,1163996,1891068,1853855,1708715,1197698,1803330,1590043,1516758,1171686,1262342,1647032,1706707,1850394
47,W,Washington,1977749,1687136,1199490,1163092,1334864,1621989,1545621,1555554,1179331,1150089,1775787,1273834,1387428,1377341
48,W,West Virginia,1677347,1380662,1176100,1888948,1922085,1740826,1238174,1539322,1539603,1872519,1462137,1683127,1204344,1198791
49,W,Wisconsin,1788920,1518578,1289663,1436888,1251678,1721874,1980167,1901394,1648755,1940943,1729177,1510119,1701650,1846238
50,W,Wyoming,1775190,1498098,1198212,1881688,1750527,1523124,1587602,1504455,1282142,1881814,1673668,1994022,1204029,1853858

In [217]:
titanic_data.dropna(axis=1)

,Index,State,Y2002,Y2003,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015
0,A,Alabama,1296530,1317711,1118631,1492583,1107408,1440134,1945229,1944173,1237582,1440756,1186741,1852841,1558906,1916661
1,A,Alaska,1170302,1960378,1818085,1447852,1861639,1465841,1551826,1436541,1629616,1230866,1512804,1985302,1580394,1979143
2,A,Arizona,1742027,1968140,1377583,1782199,1102568,1109382,1752886,1554330,1300521,1130709,1907284,1363279,1525866,1647724
3,A,Arkansas,1485531,1994927,1119299,1947979,1669191,1801213,1188104,1628980,1669295,1928238,1216675,1591896,1360959,1329341
4,C,California,1685349,1675807,1889570,1480280,1735069,1812546,1487315,1663809,1624509,1639670,1921845,1156536,1388461,1644607
5,C,Colorado,1343824,1878473,1886149,1236697,1871471,1814218,1875146,1752387,1913275,1665877,1491604,1178355,1383978,1330736
6,C,Connecticut,1610512,1232844,1181949,1518933,1841266,1976976,1764457,1972730,1968730,1945524,1228529,1582249,1503156,1718072
7,D,Delaware,1330403,1268673,1706751,1403759,1441351,1300836,1762096,1553585,1370984,1318669,1984027,1671279,1803169,1627508
8,D,District of Columbia,1111437,1993741,1374643,1827949,1803852,1595981,1193245,1739748,1707823,1353449,1979708,1912654,1782169,1410183
9,F,Florida,1964626,1468852,1419738,1362787,1339608,1278550,1756185,1818438,1198403,1497051,1131928,1107448,1407784,1170389
10,G,Georgia,1929009,1541565,1810773,1779091,1326846,1223770,1773090,1630325,1145473,1851245,1850111,1887157,1259353,1725470
11,H,Hawaii,1461570,1200280,1213993,1245931,1459383,1430465,1919423,1928416,1330509,1902816,1695126,1517184,1948108,1150882
12,I,Idaho,1353210,1438538,1739154,1541015,1122387,1772050,1335481,1748608,1436809,1456340,1643855,1312561,1713718,1757171
13,I,Illinois,1508356,1527440,1493029,1261353,1540274,1747614,1871645,1658551,1422021,1751422,1696729,1915435,1645465,1583516
14,I,Indiana,1776918,1734104,1269927,1204117,1848073,1129546,1139551,1883976,1999102,1559924,1905760,1129794,1988394,1467614
15,I,Iowa,1499269,1444576,1576367,1388924,1554813,1452911,1317983,1150783,1751389,1992996,1501879,1173694,1431705,1641866
16,K,Kansas,1509054,1290700,1522230,1532094,1104256,1863278,1949478,1561528,1550433,1465812,1882929,1410249,1930090,1385528
17,K,Kentucky,1813878,1448846,1800760,1250524,1137913,1911227,1301848,1956681,1350895,1512894,1916616,1878271,1722762,1913350
18,L,Louisiana,1584734,1110625,1868456,1751920,1233709,1920301,1185085,1124853,1498662,1210385,1234234,1287663,1908602,1403857
19,M,Maine,1582720,1678622,1208496,1912040,1438549,1330014,1295877,1969163,1627262,1706080,1437088,1318546,1116792,1529233
20,M,Maryland,1579713,1404700,1849798,1397738,1310270,1789128,1112765,1967225,1486246,1872327,1175819,1314343,1979529,1569566
21,M,Massachusetts,1647582,1686259,1620601,1777250,1531641,1380529,1978904,1567651,1761048,1658538,1482203,1731917,1669749,1963337
22,M,Michigan,1295635,1149931,1601027,1340716,1729449,1567494,1990431,1575185,1267626,1274673,1709853,1815596,1965196,1646634
23,M,Minnesota,1729921,1675204,1903907,1561839,1985692,1148621,1328133,1890633,1995304,1575533,1910216,1972021,1515366,1864553
24,M,Mississippi,1983285,1292558,1631325,1943311,1354579,1731643,1428291,1568049,1383227,1629132,1988270,1907777,1649668,1991232
25,M,Missouri,1221316,1858368,1773451,1573967,1374863,1486197,1735099,1800620,1164202,1425363,1800052,1698105,1767835,1996005
26,M,Montana,1877154,1540099,1332722,1273327,1625721,1983568,1251742,1592690,1350619,1520064,1185225,1465705,1110394,1125903
27,N,Nebraska,1885081,1309769,1425527,1240465,1500594,1278272,1140598,1270585,1128711,1187207,1569665,1690920,1459243,1802211
28,N,Nevada,1426117,1114500,1119707,1758830,1694526,1765826,1903270,1231480,1526066,1143343,1980195,1283813,1225348,1903804
29,N,New Hampshire,1419776,1854370,1195119,1990062,1645430,1286967,1762936,1763211,1265642,1704297,1131298,1197576,1242623,1963313
30,N,New Jersey,1605532,1141514,1613550,1181452,1541327,1156804,1568034,1357418,1443718,1390010,1202326,1100990,1850165,1183568
31,N,New Mexico,1819239,1226057,1935991,1124400,1723493,1475985,1237704,1820856,1801430,1653384,1475715,1623388,1533494,1868612
32,N,New York,1395149,1611371,1170675,1446810,1426941,1463171,1732098,1426216,1604531,1683687,1500089,1718837,1619033,1367705
33,N,North Carolina,1616742,1292223,1482792,1532347,1158716,1827420,1267737,1116168,1791535,1553750,1472258,1104893,1596452,1229085
34,N,North Dakota,1618807,1510193,1876940,1443172,1425030,1868788,1720352,1671468,1534571,1271132,1430978,1529024,1563898,1604118
35,O,Ohio,1802132,1648498,1441386,1670280,1534888,1314824,1516621,1511460,1585465,1887714,1227303,1840898,1880804,1573117
36,O,Oklahoma,1173918,1334639,1663622,1798714,1312574,1708245,1256746,1853142,1673831,1822933,1674707,1900523,1956742,1307678
37,O,Oregon,1794912,1726665,1805445,1133510,1502242,1419251,1482786,1862351,1103794,1935687,1905378,1522129,1509171,1893515
38,P,Pennsylvania,1320191,1446723,1218591,1122030,1971479,1563062,1274168,1571032,1433835,1483292,1290329,1475344,1931500,1668232
39,R,Rhode Island,1501744,1942942,1266657,1961923,1835983,1234040,1151409,1993136,1983569,1781016,1909119,1531212,1990412,1611730
40,S,South Carolina,1631522,1803455,1425193,1458191,1538731,1825195,1250499,1864685,1345102,1116203,1532332,1591735,1188417,1110655
41,S,South Dakota,1159037,1150689,1660148,1417141,1418586,1279134,1171870,1852424,1554782,1647245,1811156,1147488,1302834,1136443
42,T,Tennessee,1811867,1485909,1974179,1157059,1786132,1399191,1826406,1326460,1231739,1469785,1849041,1560887,1349173,1162164
43,T,Texas,1520591,1310777,1957713,1907326,1873544,1655483,1785986,1827503,1447457,1978374,1882532,1698698,1646508,1705322
44,U,Utah,1771096,1195861,1979395,1241662,1437456,1859416,1939284,1915865,1619186,1288285,1108281,1123353,1801019,1729273
45,V,Vermont,1146902,1832249,1492704,1579265,1332048,1563537,1123567,1618583,1326369,1792600,1714960,1146278,1282790,1565924
46,V,Virginia,1134317,1163996,1891068,1853855,1708715,1197698,1803330,1590043,1516758,1171686,1262342,1647032,1706707,1850394
47,W,Washington,1977749,1687136,1199490,1163092,1334864,1621989,1545621,1555554,1179331,1150089,1775787,1273834,1387428,1377341
48,W,West Virginia,1677347,1380662,1176100,1888948,1922085,1740826,1238174,1539322,1539603,1872519,1462137,1683127,1204344,1198791
49,W,Wisconsin,1788920,1518578,1289663,1436888,1251678,1721874,1980167,1901394,1648755,1940943,1729177,1510119,1701650,1846238
50,W,Wyoming,1775190,1498098,1198212,1881688,1750527,1523124,1587602,1504455,1282142,1881814,1673668,1994022,1204029,1853858

In [219]:
titanic_data.fillna(0).isna().sum()

Index    0
State    0
Y2002    0
Y2003    0
Y2004    0
Y2005    0
Y2006    0
Y2007    0
Y2008    0
Y2009    0
Y2010    0
Y2011    0
Y2012    0
Y2013    0
Y2014    0
Y2015    0
dtype: int64

In [221]:
titanic_data.drop_duplicates()

,Index,State,Y2002,Y2003,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015
0,A,Alabama,1296530,1317711,1118631,1492583,1107408,1440134,1945229,1944173,1237582,1440756,1186741,1852841,1558906,1916661
1,A,Alaska,1170302,1960378,1818085,1447852,1861639,1465841,1551826,1436541,1629616,1230866,1512804,1985302,1580394,1979143
2,A,Arizona,1742027,1968140,1377583,1782199,1102568,1109382,1752886,1554330,1300521,1130709,1907284,1363279,1525866,1647724
3,A,Arkansas,1485531,1994927,1119299,1947979,1669191,1801213,1188104,1628980,1669295,1928238,1216675,1591896,1360959,1329341
4,C,California,1685349,1675807,1889570,1480280,1735069,1812546,1487315,1663809,1624509,1639670,1921845,1156536,1388461,1644607
5,C,Colorado,1343824,1878473,1886149,1236697,1871471,1814218,1875146,1752387,1913275,1665877,1491604,1178355,1383978,1330736
6,C,Connecticut,1610512,1232844,1181949,1518933,1841266,1976976,1764457,1972730,1968730,1945524,1228529,1582249,1503156,1718072
7,D,Delaware,1330403,1268673,1706751,1403759,1441351,1300836,1762096,1553585,1370984,1318669,1984027,1671279,1803169,1627508
8,D,District of Columbia,1111437,1993741,1374643,1827949,1803852,1595981,1193245,1739748,1707823,1353449,1979708,1912654,1782169,1410183
9,F,Florida,1964626,1468852,1419738,1362787,1339608,1278550,1756185,1818438,1198403,1497051,1131928,1107448,1407784,1170389
10,G,Georgia,1929009,1541565,1810773,1779091,1326846,1223770,1773090,1630325,1145473,1851245,1850111,1887157,1259353,1725470
11,H,Hawaii,1461570,1200280,1213993,1245931,1459383,1430465,1919423,1928416,1330509,1902816,1695126,1517184,1948108,1150882
12,I,Idaho,1353210,1438538,1739154,1541015,1122387,1772050,1335481,1748608,1436809,1456340,1643855,1312561,1713718,1757171
13,I,Illinois,1508356,1527440,1493029,1261353,1540274,1747614,1871645,1658551,1422021,1751422,1696729,1915435,1645465,1583516
14,I,Indiana,1776918,1734104,1269927,1204117,1848073,1129546,1139551,1883976,1999102,1559924,1905760,1129794,1988394,1467614
15,I,Iowa,1499269,1444576,1576367,1388924,1554813,1452911,1317983,1150783,1751389,1992996,1501879,1173694,1431705,1641866
16,K,Kansas,1509054,1290700,1522230,1532094,1104256,1863278,1949478,1561528,1550433,1465812,1882929,1410249,1930090,1385528
17,K,Kentucky,1813878,1448846,1800760,1250524,1137913,1911227,1301848,1956681,1350895,1512894,1916616,1878271,1722762,1913350
18,L,Louisiana,1584734,1110625,1868456,1751920,1233709,1920301,1185085,1124853,1498662,1210385,1234234,1287663,1908602,1403857
19,M,Maine,1582720,1678622,1208496,1912040,1438549,1330014,1295877,1969163,1627262,1706080,1437088,1318546,1116792,1529233
20,M,Maryland,1579713,1404700,1849798,1397738,1310270,1789128,1112765,1967225,1486246,1872327,1175819,1314343,1979529,1569566
21,M,Massachusetts,1647582,1686259,1620601,1777250,1531641,1380529,1978904,1567651,1761048,1658538,1482203,1731917,1669749,1963337
22,M,Michigan,1295635,1149931,1601027,1340716,1729449,1567494,1990431,1575185,1267626,1274673,1709853,1815596,1965196,1646634
23,M,Minnesota,1729921,1675204,1903907,1561839,1985692,1148621,1328133,1890633,1995304,1575533,1910216,1972021,1515366,1864553
24,M,Mississippi,1983285,1292558,1631325,1943311,1354579,1731643,1428291,1568049,1383227,1629132,1988270,1907777,1649668,1991232
25,M,Missouri,1221316,1858368,1773451,1573967,1374863,1486197,1735099,1800620,1164202,1425363,1800052,1698105,1767835,1996005
26,M,Montana,1877154,1540099,1332722,1273327,1625721,1983568,1251742,1592690,1350619,1520064,1185225,1465705,1110394,1125903
27,N,Nebraska,1885081,1309769,1425527,1240465,1500594,1278272,1140598,1270585,1128711,1187207,1569665,1690920,1459243,1802211
28,N,Nevada,1426117,1114500,1119707,1758830,1694526,1765826,1903270,1231480,1526066,1143343,1980195,1283813,1225348,1903804
29,N,New Hampshire,1419776,1854370,1195119,1990062,1645430,1286967,1762936,1763211,1265642,1704297,1131298,1197576,1242623,1963313
30,N,New Jersey,1605532,1141514,1613550,1181452,1541327,1156804,1568034,1357418,1443718,1390010,1202326,1100990,1850165,1183568
31,N,New Mexico,1819239,1226057,1935991,1124400,1723493,1475985,1237704,1820856,1801430,1653384,1475715,1623388,1533494,1868612
32,N,New York,1395149,1611371,1170675,1446810,1426941,1463171,1732098,1426216,1604531,1683687,1500089,1718837,1619033,1367705
33,N,North Carolina,1616742,1292223,1482792,1532347,1158716,1827420,1267737,1116168,1791535,1553750,1472258,1104893,1596452,1229085
34,N,North Dakota,1618807,1510193,1876940,1443172,1425030,1868788,1720352,1671468,1534571,1271132,1430978,1529024,1563898,1604118
35,O,Ohio,1802132,1648498,1441386,1670280,1534888,1314824,1516621,1511460,1585465,1887714,1227303,1840898,1880804,1573117
36,O,Oklahoma,1173918,1334639,1663622,1798714,1312574,1708245,1256746,1853142,1673831,1822933,1674707,1900523,1956742,1307678
37,O,Oregon,1794912,1726665,1805445,1133510,1502242,1419251,1482786,1862351,1103794,1935687,1905378,1522129,1509171,1893515
38,P,Pennsylvania,1320191,1446723,1218591,1122030,1971479,1563062,1274168,1571032,1433835,1483292,1290329,1475344,1931500,1668232
39,R,Rhode Island,1501744,1942942,1266657,1961923,1835983,1234040,1151409,1993136,1983569,1781016,1909119,1531212,1990412,1611730
40,S,South Carolina,1631522,1803455,1425193,1458191,1538731,1825195,1250499,1864685,1345102,1116203,1532332,1591735,1188417,1110655
41,S,South Dakota,1159037,1150689,1660148,1417141,1418586,1279134,1171870,1852424,1554782,1647245,1811156,1147488,1302834,1136443
42,T,Tennessee,1811867,1485909,1974179,1157059,1786132,1399191,1826406,1326460,1231739,1469785,1849041,1560887,1349173,1162164
43,T,Texas,1520591,1310777,1957713,1907326,1873544,1655483,1785986,1827503,1447457,1978374,1882532,1698698,1646508,1705322
44,U,Utah,1771096,1195861,1979395,1241662,1437456,1859416,1939284,1915865,1619186,1288285,1108281,1123353,1801019,1729273
45,V,Vermont,1146902,1832249,1492704,1579265,1332048,1563537,1123567,1618583,1326369,1792600,1714960,1146278,1282790,1565924
46,V,Virginia,1134317,1163996,1891068,1853855,1708715,1197698,1803330,1590043,1516758,1171686,1262342,1647032,1706707,1850394
47,W,Washington,1977749,1687136,1199490,1163092,1334864,1621989,1545621,1555554,1179331,1150089,1775787,1273834,1387428,1377341
48,W,West Virginia,1677347,1380662,1176100,1888948,1922085,1740826,1238174,1539322,1539603,1872519,1462137,1683127,1204344,1198791
49,W,Wisconsin,1788920,1518578,1289663,1436888,1251678,1721874,1980167,1901394,1648755,1940943,1729177,1510119,1701650,1846238
50,W,Wyoming,1775190,1498098,1198212,1881688,1750527,1523124,1587602,1504455,1282142,1881814,1673668,1994022,1204029,1853858

In [222]:
titanic_data.groupby(['State']).mean()

,Y2002,Y2003,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015
State,,,,,,,,,,,,,,
Alabama,1296530.0,1317711.0,1118631.0,1492583.0,1107408.0,1440134.0,1945229.0,1944173.0,1237582.0,1440756.0,1186741.0,1852841.0,1558906.0,1916661.0
Alaska,1170302.0,1960378.0,1818085.0,1447852.0,1861639.0,1465841.0,1551826.0,1436541.0,1629616.0,1230866.0,1512804.0,1985302.0,1580394.0,1979143.0
Arizona,1742027.0,1968140.0,1377583.0,1782199.0,1102568.0,1109382.0,1752886.0,1554330.0,1300521.0,1130709.0,1907284.0,1363279.0,1525866.0,1647724.0
Arkansas,1485531.0,1994927.0,1119299.0,1947979.0,1669191.0,1801213.0,1188104.0,1628980.0,1669295.0,1928238.0,1216675.0,1591896.0,1360959.0,1329341.0
California,1685349.0,1675807.0,1889570.0,1480280.0,1735069.0,1812546.0,1487315.0,1663809.0,1624509.0,1639670.0,1921845.0,1156536.0,1388461.0,1644607.0
Colorado,1343824.0,1878473.0,1886149.0,1236697.0,1871471.0,1814218.0,1875146.0,1752387.0,1913275.0,1665877.0,1491604.0,1178355.0,1383978.0,1330736.0
Connecticut,1610512.0,1232844.0,1181949.0,1518933.0,1841266.0,1976976.0,1764457.0,1972730.0,1968730.0,1945524.0,1228529.0,1582249.0,1503156.0,1718072.0
Delaware,1330403.0,1268673.0,1706751.0,1403759.0,1441351.0,1300836.0,1762096.0,1553585.0,1370984.0,1318669.0,1984027.0,1671279.0,1803169.0,1627508.0
District of Columbia,1111437.0,1993741.0,1374643.0,1827949.0,1803852.0,1595981.0,1193245.0,1739748.0,1707823.0,1353449.0,1979708.0,1912654.0,1782169.0,1410183.0
Florida,1964626.0,1468852.0,1419738.0,1362787.0,1339608.0,1278550.0,1756185.0,1818438.0,1198403.0,1497051.0,1131928.0,1107448.0,1407784.0,1170389.0
Georgia,1929009.0,1541565.0,1810773.0,1779091.0,1326846.0,1223770.0,1773090.0,1630325.0,1145473.0,1851245.0,1850111.0,1887157.0,1259353.0,1725470.0
Hawaii,1461570.0,1200280.0,1213993.0,1245931.0,1459383.0,1430465.0,1919423.0,1928416.0,1330509.0,1902816.0,1695126.0,1517184.0,1948108.0,1150882.0
Idaho,1353210.0,1438538.0,1739154.0,1541015.0,1122387.0,1772050.0,1335481.0,1748608.0,1436809.0,1456340.0,1643855.0,1312561.0,1713718.0,1757171.0
Illinois,1508356.0,1527440.0,1493029.0,1261353.0,1540274.0,1747614.0,1871645.0,1658551.0,1422021.0,1751422.0,1696729.0,1915435.0,1645465.0,1583516.0
Indiana,1776918.0,1734104.0,1269927.0,1204117.0,1848073.0,1129546.0,1139551.0,1883976.0,1999102.0,1559924.0,1905760.0,1129794.0,1988394.0,1467614.0
Iowa,1499269.0,1444576.0,1576367.0,1388924.0,1554813.0,1452911.0,1317983.0,1150783.0,1751389.0,1992996.0,1501879.0,1173694.0,1431705.0,1641866.0
Kansas,1509054.0,1290700.0,1522230.0,1532094.0,1104256.0,1863278.0,1949478.0,1561528.0,1550433.0,1465812.0,1882929.0,1410249.0,1930090.0,1385528.0
Kentucky,1813878.0,1448846.0,1800760.0,1250524.0,1137913.0,1911227.0,1301848.0,1956681.0,1350895.0,1512894.0,1916616.0,1878271.0,1722762.0,1913350.0
Louisiana,1584734.0,1110625.0,1868456.0,1751920.0,1233709.0,1920301.0,1185085.0,1124853.0,1498662.0,1210385.0,1234234.0,1287663.0,1908602.0,1403857.0
Maine,1582720.0,1678622.0,1208496.0,1912040.0,1438549.0,1330014.0,1295877.0,1969163.0,1627262.0,1706080.0,1437088.0,1318546.0,1116792.0,1529233.0
Maryland,1579713.0,1404700.0,1849798.0,1397738.0,1310270.0,1789128.0,1112765.0,1967225.0,1486246.0,1872327.0,1175819.0,1314343.0,1979529.0,1569566.0
Massachusetts,1647582.0,1686259.0,1620601.0,1777250.0,1531641.0,1380529.0,1978904.0,1567651.0,1761048.0,1658538.0,1482203.0,1731917.0,1669749.0,1963337.0
Michigan,1295635.0,1149931.0,1601027.0,1340716.0,1729449.0,1567494.0,1990431.0,1575185.0,1267626.0,1274673.0,1709853.0,1815596.0,1965196.0,1646634.0
Minnesota,1729921.0,1675204.0,1903907.0,1561839.0,1985692.0,1148621.0,1328133.0,1890633.0,1995304.0,1575533.0,1910216.0,1972021.0,1515366.0,1864553.0
Mississippi,1983285.0,1292558.0,1631325.0,1943311.0,1354579.0,1731643.0,1428291.0,1568049.0,1383227.0,1629132.0,1988270.0,1907777.0,1649668.0,1991232.0
Missouri,1221316.0,1858368.0,1773451.0,1573967.0,1374863.0,1486197.0,1735099.0,1800620.0,1164202.0,1425363.0,1800052.0,1698105.0,1767835.0,1996005.0
Montana,1877154.0,1540099.0,1332722.0,1273327.0,1625721.0,1983568.0,1251742.0,1592690.0,1350619.0,1520064.0,1185225.0,1465705.0,1110394.0,1125903.0
Nebraska,1885081.0,1309769.0,1425527.0,1240465.0,1500594.0,1278272.0,1140598.0,1270585.0,1128711.0,1187207.0,1569665.0,1690920.0,1459243.0,1802211.0
Nevada,1426117.0,1114500.0,1119707.0,1758830.0,1694526.0,1765826.0,1903270.0,1231480.0,1526066.0,1143343.0,1980195.0,1283813.0,1225348.0,1903804.0
New Hampshire,1419776.0,1854370.0,1195119.0,1990062.0,1645430.0,1286967.0,1762936.0,1763211.0,1265642.0,1704297.0,1131298.0,1197576.0,1242623.0,1963313.0
New Jersey,1605532.0,1141514.0,1613550.0,1181452.0,1541327.0,1156804.0,1568034.0,1357418.0,1443718.0,1390010.0,1202326.0,1100990.0,1850165.0,1183568.0
New Mexico,1819239.0,1226057.0,1935991.0,1124400.0,1723493.0,1475985.0,1237704.0,1820856.0,1801430.0,1653384.0,1475715.0,1623388.0,1533494.0,1868612.0
New York,1395149.0,1611371.0,1170675.0,1446810.0,1426941.0,1463171.0,1732098.0,1426216.0,1604531.0,1683687.0,1500089.0,1718837.0,1619033.0,1367705.0
North Carolina,1616742.0,1292223.0,1482792.0,1532347.0,1158716.0,1827420.0,1267737.0,1116168.0,1791535.0,1553750.0,1472258.0,1104893.0,1596452.0,1229085.0
North Dakota,1618807.0,1510193.0,1876940.0,1443172.0,1425030.0,1868788.0,1720352.0,1671468.0,1534571.0,1271132.0,1430978.0,1529024.0,1563898.0,1604118.0
Ohio,1802132.0,1648498.0,1441386.0,1670280.0,1534888.0,1314824.0,1516621.0,1511460.0,1585465.0,1887714.0,1227303.0,1840898.0,1880804.0,1573117.0
Oklahoma,1173918.0,1334639.0,1663622.0,1798714.0,1312574.0,1708245.0,1256746.0,1853142.0,1673831.0,1822933.0,1674707.0,1900523.0,1956742.0,1307678.0
Oregon,1794912.0,1726665.0,1805445.0,1133510.0,1502242.0,1419251.0,1482786.0,1862351.0,1103794.0,1935687.0,1905378.0,1522129.0,1509171.0,1893515.0
Pennsylvania,1320191.0,1446723.0,1218591.0,1122030.0,1971479.0,1563062.0,1274168.0,1571032.0,1433835.0,1483292.0,1290329.0,1475344.0,1931500.0,1668232.0
Rhode Island,1501744.0,1942942.0,1266657.0,1961923.0,1835983.0,1234040.0,1151409.0,1993136.0,1983569.0,1781016.0,1909119.0,1531212.0,1990412.0,1611730.0
South Carolina,1631522.0,1803455.0,1425193.0,1458191.0,1538731.0,1825195.0,1250499.0,1864685.0,1345102.0,1116203.0,1532332.0,1591735.0,1188417.0,1110655.0
South Dakota,1159037.0,1150689.0,1660148.0,1417141.0,1418586.0,1279134.0,1171870.0,1852424.0,1554782.0,1647245.0,1811156.0,1147488.0,1302834.0,1136443.0
Tennessee,1811867.0,1485909.0,1974179.0,1157059.0,1786132.0,1399191.0,1826406.0,1326460.0,1231739.0,1469785.0,1849041.0,1560887.0,1349173.0,1162164.0
Texas,1520591.0,1310777.0,1957713.0,1907326.0,1873544.0,1655483.0,1785986.0,1827503.0,1447457.0,1978374.0,1882532.0,1698698.0,1646508.0,1705322.0
Utah,1771096.0,1195861.0,1979395.0,1241662.0,1437456.0,1859416.0,1939284.0,1915865.0,1619186.0,1288285.0,1108281.0,1123353.0,1801019.0,1729273.0
Vermont,1146902.0,1832249.0,1492704.0,1579265.0,1332048.0,1563537.0,1123567.0,1618583.0,1326369.0,1792600.0,1714960.0,1146278.0,1282790.0,1565924.0
Virginia,1134317.0,1163996.0,1891068.0,1853855.0,1708715.0,1197698.0,1803330.0,1590043.0,1516758.0,1171686.0,1262342.0,1647032.0,1706707.0,1850394.0
Washington,1977749.0,1687136.0,1199490.0,1163092.0,1334864.0,1621989.0,1545621.0,1555554.0,1179331.0,1150089.0,1775787.0,1273834.0,1387428.0,1377341.0
West Virginia,1677347.0,1380662.0,1176100.0,1888948.0,1922085.0,1740826.0,1238174.0,1539322.0,1539603.0,1872519.0,1462137.0,1683127.0,1204344.0,1198791.0
Wisconsin,1788920.0,1518578.0,1289663.0,1436888.0,1251678.0,1721874.0,1980167.0,1901394.0,1648755.0,1940943.0,1729177.0,1510119.0,1701650.0,1846238.0
Wyoming,1775190.0,1498098.0,1198212.0,1881688.0,1750527.0,1523124.0,1587602.0,1504455.0,1282142.0,1881814.0,1673668.0,1994022.0,1204029.0,1853858.0

In [224]:
titanic_data.groupby(['State']).std()

,Y2002,Y2003,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015
State,,,,,,,,,,,,,,
Alabama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Alaska,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Arizona,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Arkansas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
California,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Colorado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Connecticut,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Delaware,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
District of Columbia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Florida,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Georgia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Hawaii,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Idaho,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Illinois,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Indiana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Iowa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Kansas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Kentucky,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Louisiana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Maine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Maryland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Massachusetts,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Michigan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Minnesota,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Mississippi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Missouri,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Montana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Nebraska,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Nevada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
New Hampshire,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
New Jersey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
New Mexico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
New York,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
North Carolina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
North Dakota,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ohio,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Oklahoma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Oregon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pennsylvania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rhode Island,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
South Carolina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
South Dakota,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Tennessee,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Texas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Utah,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Vermont,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Virginia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Washington,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
West Virginia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Wisconsin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Wyoming,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN